@import url('https://fonts.googleapis.com/css?family=Russo+One');

body {
    margin: 0;
    border: 0;
}

#root {
    font-family: Russo One;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(2, 197, 197);
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

#drum-machine {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: teal;
    border:.4em solid #333;
    box-shadow: 7px 7px rgb(1, 90, 90);
    width: 40em;
    height: 21em;
    margin: auto;
}

#drum-pad {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 20em;
    height: 15em;
}

#right {
    align-self: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

button {
    cursor: pointer;
}

.btn {
    margin: 10px;
    box-shadow: 5px 5px rgb(1, 66, 66);
    border-radius: 3px;
    border: 0;
    border: 0;
    margin: .5em;
    padding: 2em;
    width: 6em;
    background-color: rgb(194, 191, 191);
}

.btn:active {
    background-color: rgb(240, 240, 125);
}

.btn > button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

#display {
    align-self: center;
    text-align: center;
    margin: 2em auto;
    width: 10em;
    height: 1em;
    padding: 10px;
    background-color: rgb(194, 191, 191);
}

label {
    text-align: right;
    margin: 1em auto 0 auto;
}

input {
    margin: 0 2em 0 2em;
    border: 0; 
}

#power, #bank {
    border: 1px solid #333;
    border-radius: 20%;
    padding: .6em;
    margin: 5px auto 0 auto;
}

#power:active, #bank:active {
    box-shadow: inset .4px .5px 2px .1px #333;
}

@media screen and (max-width: 580px) {
    #root {
        font-size: 13px;
    }

    .btn {
        font-size: 12px;
    }

    #drum-machine {
        height: 40em;
        width: 25em;
    }
}